<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Market | Landing Page</title>
    <!-- tailwinds -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
        <link rel="CSS" href="./CSS/nav_bar.css">
    <!-- stars import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- header -->
    <div class="inline-flex header_imgs">
        <img src="/static/imgs/sodas/orange_soda.png" alt="Orange soda" style="width: 25%; height: auto;">
        <img src="/static/imgs/sodas/peach_soda.png" alt="Peach soda" style="width: 25%; height: auto;">
        <img src="/static/imgs/sodas/pink_soda.png" alt="pink soda" style="width: 25%; height: auto;">
        <img src="/static/imgs/sodas/green_soda.png" alt="green soda" style="width: 25%; height: auto;">
    </div>

    <!-- nav bar -->
<nav class="bg-white border-gray-200 dark:bg-gray-900 mb-5 shadow-lg">
    <div class="nav_bar max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <h2>🍐</h2>
            <h2>Dream Market</h2>
        </a>

        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="/"
                        class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/view_all"
                        class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                        aria-current="page">View All</a>
                </li>
                <li>
                    <a href="/registration"
                        class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                        aria-current="page">Stay in touch</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    {% with messages = get_flashed_messages(category_filter=["registration"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative text-center"
        role="alert">
        <span class="block sm:inline">{{ message }}</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}





<!-- Product Carousel -->
<hr class="h-px my-1 bg-gray-200 border-0 dark:bg-gray-700">
<h2 class="text-center mt-3 mb-5"><a href='/view_all'>🍇 View Products 🍐</a></h2>
<div class="max-w-3xl mx-auto relative mb-10">
    <div id="productCarousel" class="carousel relative shadow-2xl overflow-hidden">
        <div class="carousel-inner relative overflow-hidden w-full flex shadow-md">
            {% for product in products %}
            <a href="{{ url_for('product_page', product_id=product.id) }}"
                class="carousel-item {% if loop.first %}active{% endif %} w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2">
                <div class="product-card shadow-md p-4 bg-white rounded-lg">
                    <img src="{{ product.image_path }}" alt="{{ product.name }}" class="w-full h-auto object-cover rounded-t-lg" />
                    <div class="p-2">
                        <h2 class="text-lg font-semibold">{{ product.name }}</h2>
                        <p class="text-gray-700">{{ product.description }}</p>
                        <p class="price text-gray-900 font-bold">Price: ${{ product.price }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <!-- Navigation buttons -->
        <button
            class="absolute left-0 top-1/2 transform -translate-y-1/2 w-10 h-10 bg-white text-black rounded-full flex items-center justify-center z-10"
            onclick="scrollProducts('left')">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
        </button>
        <button
            class="absolute right-0 top-1/2 transform -translate-y-1/2 w-10 h-10 bg-white text-black rounded-full flex items-center justify-center z-10"
            onclick="scrollProducts('right')">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</div>
    </div>

    <!-- Featured section -->
    <div>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <h2 class="text-center">Featured Section</h2>
        <div class="flex flex-wrap justify-center">
            <div class="col m-2 p-3 text-center">
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="/static/imgs/sodas/green_soda.png"
                        alt="Refreshing green soda on simple background">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-3">Green Soda</div>
                        <a href="{{ url_for('product_page', product_id=21) }}"
                            class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

            <div class="col m-2 p-3 text-center">
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="/static/imgs/sodas/blue_soda.png"
                        alt="Refreshing blue soda on simple background">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-3">Blue Soda</div>
                        <a href="{{ url_for('product_page', product_id=20) }}"
                            class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                            Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col m-2 p-3 text-center">
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="/static/imgs/sodas/pink_soda.png"
                        alt="Refreshing pink soda on simple background">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-3">Pink Soda</div>
                        <a href="{{ url_for('product_page', product_id=19) }}"
                            class="bg-transparent hover:bg-pink-500 text-pink-700 font-semibold hover:text-white py-2 px-4 border border-pink-500 hover:border-transparent rounded">Learn
                            More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Social section -->
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
        <h3 class="ml-10">What are people saying?</h3>
        <div class="container mx-auto">
            <!-- pink -->
            <div class="flex flex-wrap justify-center">
                <a href="{{ url_for('product_page', product_id=19) }}">
                    <div class="w-full md:w-1/2 lg:w-1/5 p-4">
                        <div class="max-w-sm rounded overflow-hidden shadow-lg">
                            <img class="w-full" src="/static/imgs/sodas/pink_soda.png"
                                alt="Refreshing pink soda on simple background">
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2">Pink Soda</div>
                            </div>
                            <div class="px-6 pb-2">
                                <p>Star Rating</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <div class="px-3 pt-4 pb-2">
                                <span
                                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#drinkofthesummer</span>
                                <span
                                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#freshandsweet</span>
                            </div>
                        </div>
                </a>
            </div>

            <!-- blue -->
            <div class="w-full md:w-1/2 lg:w-1/5 p-4">
                <a href="{{ url_for('product_page', product_id=20) }}">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full" src="/static/imgs/sodas/blue_soda.png"
                            alt="Refreshing blue soda on simple background">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">Blue Soda</div>
                        </div>
                        <div class="px-6 pb-2">
                            <p>Star Rating</p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="px-3 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#cripandclean</span>
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#unlikeanythingelse</span>
                        </div>
                    </div>
                </a>
            </div>

            <!-- green -->

            <div class="w-full md:w-1/2 lg:w-1/5 p-4">
                <a href="{{ url_for('product_page', product_id=21) }}">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full" src="/static/imgs/sodas/green_soda.png"
                            alt="Refreshing green soda on simple background">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">Green Soda</div>
                        </div>
                        <div class="px-6 pb-2">
                            <p>Star Rating</p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <div class="px-3 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#sourandsuprising</span>
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#organic</span>
                        </div>
                    </div>
                </a>
            </div>


            <!-- purple -->
            <div class="w-full md:w-1/2 lg:w-1/5 p-4">
                <a href="{{ url_for('product_page', product_id=22) }}">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full" src="/static/imgs/sodas/purple_soda.png"
                            alt="Refreshing Purple soda on simple background">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl">Purple Soda</div>
                        </div>
                        <div class="px-6 pb-2">
                            <p>Star Rating</p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="px-3 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#refreshinglyroyal</span>
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#themoment</span>
                        </div>
                    </div>
                </a>
            </div>

            <!-- cyan -->
            <div class="w-full md:w-1/2 lg:w-1/5 p-4">
                <a href="{{ url_for('product_page', product_id=24) }}">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full" src="/static/imgs/sodas/cyan_soda.png"
                            alt="Refreshing green soda on simple background">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">Cyan Soda</div>
                        </div>
                        <div class="px-6 pb-2">
                            <p>Star Rating</p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                        </div>
                        <div class="px-3 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#lightandbright</span>
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#organic</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div class="row inline-flex bg-black mt-5 text-white w-full p-5">
        <div class="col ml-10 mr-5">
            <h4>🍉 About me:</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, impedit.</p>
        </div>
        <div class="col mr-10">
            <h4>🍒 Disclaimer:</h4>
            <p>Unfortunately, these refreshing beverages are examples of the power of
                stable diffusion and have all been generated for the purpose of this example.
                If you have questions or would like to learn more, <a href="/registration" class="underline">let's
                    connect!</a></p>
        </div>
    </div>


    <!-- JavaScript functions to control carousel / import -->
    <script>
        let currentSlide = 0;
        const slides = document.querySelectorAll('.carousel-item');
        const numVisibleSlides = 3;

        // Function to show the specified slide
        function showSlide(n) {
            for (let i = 0; i < slides.length; i++) {
                if (i >= n && i < n + numVisibleSlides) {
                    slides[i].style.display = 'block'; // Show the slide
                } else {
                    slides[i].style.display = 'none'; // Hide the slide
                }
            }
        }

        // Function to scroll the products
        function scrollProducts(direction) {
            const totalSlides = slides.length;

            if (direction === 'right') {
                currentSlide = (currentSlide + numVisibleSlides) % totalSlides;
            } else if (direction === 'left') {
                currentSlide = (currentSlide - numVisibleSlides + totalSlides) % totalSlides;
            }

            console.log("Direction:", direction);
            console.log("Current Slide:", currentSlide);
            showSlide(currentSlide);
        }

        // Show the initial set of slides
        showSlide(currentSlide);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>

</html>